:root {
  --primary-color: #007bff;
  --hover-color: #0056b3;
  --text-color: #312f30;
  --light-text-color: #666;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --hover-shadow-color: rgba(0, 0, 0, 0.2);
  --button-color: #4caf50;
  --button-hover-color: #46a049;
  --call-button-color: #007bff;
  --call-button-hover-color: #0056b3;
}

.ad-card {
  width: 210px;
  height: 210px;
  background: var(--primary-color) 0.5;
  border-radius: 20px;
  position: relative;
  background-color: #fff;
  color: var(--text-color);
  cursor: pointer;
  transform: translateY(16%);
  transition: transform 0.3s;
  max-width: 350px;
  margin: 5px;
  box-shadow: -20px 20px 5px var(--shadow-color);
  box-sizing: content-box;
  transition: transform 0.3s;
  overflow: hidden;
}
.ad-card__content {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ad-card:hover {
  transform: translateY(0);
}

.ad-card__title {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0px;
  font-size: 18px;
  color: #000000;
  text-align: center;
  line-height: 1.2;
}

.ad-card__description {
  color: var(--text-color);
  flex-grow: 1;
  line-height: 1;
  margin-bottom: 0rem;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0%,
    black 75%,
    transparent 100%
  );
  mask-image: linear-gradient(to bottom, black 0%, black 75%, transparent 100%);
}

.ad-card__description::first-letter {
  text-transform: uppercase;
}

.ad-card__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-bottom: 0rem;
}

.ad-card__price {
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 700;
}

.ad-card__location {
  color: var(--light-text-color);
  font-size: 0.7rem;
  line-height: 0.9;
}

.ad-card.inmuebles {
  background-color: #fff1d6;
}

.ad-card.empleos {
  background-color: #d3e6ff;
}

.ad-card.autos {
  background-color: #ffd9d9;
}

.ad-card.servicios {
  background-color: #daffe5;
}

.ad-card.otros {
  background-color: #ece7f3;
}
