:root {
  --primary-color: #007bff;
  --hover-color: #0056b3;
  --text-color: #312f30;
  --light-text-color: #666;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --hover-shadow-color: rgba(0, 0, 0, 0.2);
  --button-color: #4caf50;
  --button-hover-color: #46a049;
  --call-button-color: #007bff;
  --call-button-hover-color: #0056b3;
  --background-color: #f8f9fa;
}

.ad-card {
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.ad-card__content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ad-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px var(--hover-shadow-color);
}

.ad-card:active {
  transform: scale(0.98);
  box-shadow: 0 4px 8px var(--shadow-color);
}

.ad-card__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid var(--light-text-color);
}

.ad-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: var(--text-color);
}

.ad-card__type {
  font-weight: 300;
  color: var(--primary-color);
  font-size: 12px;
}

.ad-card__date {
  font-size: 0.8rem;
  color: var(--light-text-color);
}

.ad-card__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
  hyphens: auto;
  line-height: 1.3;
}

.ad-card__description {
  color: var(--text-color);
  font-size: 0.9rem;
  line-height: 1.2;
  mask-image: linear-gradient(180deg, #000 0, #000 75%, #0000);
  overflow: hidden;
  padding: 0.4rem;
}

.ad-card__details {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.ad-card__price {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-color);
}

.ad-card__location {
  color: var(--light-text-color);
}

.ad-card.inmuebles {
  background-color: #c8f7c5;
  border-left: 4px solid #4caf50; /* Verde suave */
}

.ad-card.empleos {
  background-color: #bfeff3;
  border-left: 4px solid #007bff; /* Azul suave */
}

.ad-card.vehicles {
  background-color: #ffcccc;
  border-left: 4px solid #ff5722; /* Rojo suave */
}

.ad-card.servicios {
  background-color: #fff5cc;
  border-left: 4px solid #ffc107; /* Amarillo suave */
}

.ad-card.otros {
  background-color: #e8e4f7;
  border-left: 4px solid #9c27b0; /* Púrpura suave */
}

@media (max-width: 768px) {
  .ad-card__image {
    height: 120px;
  }

  .ad-card__title {
    font-size: 1rem;
  }

  .ad-card__description {
    font-size: 0.8rem;
  }

  .ad-card__price,
  .ad-card__location {
    font-size: 0.8rem;
  }
}
