:root {
  --primary-color: #007bff;
  --hover-color: #0056b3;
  --text-color: #312f30;
  --light-text-color: #666;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --hover-shadow-color: rgba(0, 0, 0, 0.2);
  --background-color: #ffffff;
  --border-radius: 10px;
  --transition-duration: 0.3s;
}

.ad-card {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px var(--shadow-color);
  overflow: hidden;
  transition: transform var(--transition-duration) ease, box-shadow var(--transition-duration) ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}

.ad-card__image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-bottom: 1px solid var(--light-text-color);
}

.ad-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--transition-duration) ease;
}

.ad-card__image-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-text-color);
  color: var(--background-color);
  font-size: 1.5rem;
}

.ad-card:hover .ad-card__image {
  transform: scale(1.05);
}

.ad-card__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ad-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px var(--hover-shadow-color);
}

.ad-card:active {
  transform: scale(0.98);
  box-shadow: 0 4px 8px var(--shadow-color);
}

.ad-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.ad-card__type {
  font-weight: 500;
  color: var(--primary-color);
  font-size: 0.9rem;
}

.ad-card__date {
  font-size: 0.8rem;
  color: var(--light-text-color);
}

.ad-card__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
  hyphens: auto;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

.ad-card__details {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: auto;
}

.ad-card__price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}

.ad-card__location {
  color: var(--light-text-color);
}

.ad-card__business {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.ad-card__business-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.ad-card__business-name {
  font-size: 0.9rem;
  color: var(--text-color);
}

.ad-card__save-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: color var(--transition-duration) ease;
}

.ad-card__save-button:hover {
  color: var(--hover-color);
}

.ad-card.vertical {
  flex-direction: row;
}

.ad-card.vertical .ad-card__image-container {
  width: 150px;
  height: auto;
  border-bottom: none;
  border-right: 1px solid var(--light-text-color);
}

.ad-card.vertical .ad-card__content {
  padding: 1rem;
  flex: 1;
}

@media (max-width: 768px) {
  .ad-card__image-container {
    height: 150px;
  }

  .ad-card__title {
    font-size: 1.2rem;
  }

  .ad-card__details {
    font-size: 0.9rem;
  }

  .ad-card__price,
  .ad-card__location {
    font-size: 0.9rem;
  }
}