/* General Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1000;
}

.modal-overlay.show {
  opacity: 1;
}

.modal-content {
  background-color: #f0f4ff;
  padding: 20px;
  border-radius: 18px;
  width: 90%;
  max-width: 100vh;
  max-height: 90vh;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.modal-header, 
.modal-body, 
.modal-footer, 
.modal-left {
  background-color: white;
  border-radius: 12px; /* Esquinas redondeadas */
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.modal-content.show {
  transform: scale(1);
  opacity: 1;
  overflow-y: auto;
}

/* Header Styles */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 12px;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.modal-header a.modal-header-link {
  font-size: 1.2em;
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
  flex: 1 0 100%; /* Ocupa el 100% en móviles */
}

.modal-header-details {
  flex: 1 0 100%; /* Ocupa el 100% en móviles */
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.modal-route {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 5px;
}

.modal-date-time {
  font-size: 0.9em;
  color: #555;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-date-time p {
  margin: 0;
}

.modal-options-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #333;
}

/* Navigation Arrows */
.navigation-arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  color: #fff;
  cursor: pointer;
  z-index: 1001;
}

.navigation-arrow-left {
  left: 15px;
}

.navigation-arrow-right {
  right: 15px;
}

/* Modal Body */
.modal-body {
  font-size: 1.2em;
  line-height: 1.5;
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-body img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Modal Footer */
.modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ccc;
}

/* Tabs (Detalles, Ubicación, Imágenes) */
/* Estilos para tipos de anuncios */
.modal-content.inmuebles {
  background-color: #e0f7e0;
}

.modal-content.empleos {
  background-color: #d3f9f9;
}

.modal-content.vehicles {
  background-color: #ffe0e0;
}

.modal-content.servicios {
  background-color: #fffbe0;
}

.modal-content.productos {
  background-color: #ffe0b3;
}

.modal-content.otros {
  background-color: #f0e6ff;
}

/* .modal-business-info {
  display: flex;
  align-items: center;
}

.modal-business-info img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.business-name {
  margin-left: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #007bff;
} */

.right-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.right-tabs button {
  flex: 1;
  padding: 10px;
  background-color: #f0f4ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.right-tabs button.active {
  background-color: #007bff;
  color: white;
}

.right-tabs button:hover {
  background-color: #007bff;
  color: white;
}

/* Map, Images, Details */
.modal-map iframe,
.modal-images img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.modal-map {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  border: none;
}

/* Modal Statistics */
.detalles-content {
  background-color: #f7f9fc;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* QR Code */
.qr-code-description {
  float: right;
  margin-left: 10px;
  width: 120px;
  height: 120px;
}

/* Business Info */
.modal-business-info {
  display: flex;
  align-items: center;
}

.modal-business-info img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.business-name {
  margin-left: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #007bff;
}

/* Responsive Design */
@media (max-width: 600px) {
  .modal-content {
    width: 95%;
    max-height: 80vh;
  }

  .navigation-arrow {
    font-size: 1em;
    color: #000;
    border-radius: 50%;
    padding: 5px 10px;
    background: rgba(128, 128, 128, 0.5);
  }

  .modal-title {
    font-size: 1.6em;
    text-transform: uppercase;
  }

  .modal-body {
    font-size: 1em;
  }

  .modal-nav-button {
    font-size: 1.5em;
  }

  .modal-header-link {
    font-size: 1em;
  }

  .modal-description-map {
    flex-direction: column;
    gap: 0;
  }

  .modal-left, 
  .modal-right {
    width: 100%;
  }

  .modal-map {
    height: auto;
  }

  .qr-code-description {
    margin-right: 10px;
  }

  .modal-options-button {
    align-self: flex-end; /* Alinea los tres puntos a la derecha */
  }
}
