.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1000;
}

.modal-overlay.show {
  opacity: 1;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 18px;
  width: 90%;
  max-width: 100vh;
  max-height: 90vh; /* Limita la altura máxima del modal */
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.modal-content.show {
  transform: scale(1);
  opacity: 1;
  overflow-y: auto; /* Permite el scroll vertical si el contenido es mayor al tamaño máximo */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-header-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-header-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.modal-header-icons button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.share-icon {
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
}

.share-menu {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.share-menu button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.share-menu svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.share-menu .facebook {
  background-color: #3b5998;
  color: #fff;
}

.share-menu .twitter {
  background-color: #1da1f2;
  color: #fff;
}

.share-menu .whatsapp {
  background-color: #25d366;
  color: #fff;
}

.share-menu .more-options {
  background-color: #333;
  color: #fff;
}

.modal-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.modal-body {
  font-size: 1.2em;
  line-height: 1.5;
}

.modal-body img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
}

.modal-info {
  margin-bottom: 10px;
  font-weight: bold;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ccc;
}

.modal-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-nav-button {
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

.modal-navigation .nav-buttons {
  display: flex;
  gap: 10px;
}

.modal-content.inmuebles {
  background-color: #e0f7e0;
}

.modal-content.empleos {
  background-color: #d3f9f9;
}

.modal-content.vehicles {
  background-color: #ffe0e0;
}

.modal-content.servicios {
  background-color: #fffbe0;
}

.modal-content.productos {
  background-color: #ffe0b3;
}

.modal-content.otros {
  background-color: #f0e6ff;
}

/* Responsive Design */
@media (max-width: 600px) {
  .modal-content {
    width: 95%;
    max-height: 80vh; /* Asegura que el modal no ocupe toda la altura en mobile */
  }

  .modal-title {
    font-size: 1.6em;
  }

  .modal-body {
    font-size: 1em;
  }

  .modal-nav-button {
    font-size: 1.5em;
  }
}
