/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */
.auth_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 20px;
  border-radius: 20px;
  border: 8px solid #223243;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.auth_container .auth_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.auth_form {
  width: 500px; /* Ancho del formulario */
  background-color: #fff; /* Color de fondo del formulario */
  padding: 20px; /* Espacio alrededor del contenido del formulario */
  border-radius: 10px; /* Esquinas redondeadas del formulario */
}
.auth_container .auth_form.auth_signin,
.auth_container.auth_signinForm .auth_form.auth_signup {
  display: none;
}
.auth_container.auth_signinForm .auth_form.auth_signin {
  display: flex;
}
.auth_container .auth_form h2 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.auth_container .auth_form .auth_inputBox {
  width: 300px;
  position: relative;
  gap: 25px;
}
.auth_container .auth_form .auth_inputBox input {
  padding: 12px 10px 12px 48px;
  width: 100%;
  border: none;
  background: #223243;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: 300;
  border-radius: 25px;
  font-size: 1em;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
  outline: none;
}
.auth_container .auth_form .auth_inputBox label span {
  position: absolute;
  left: 0;
  padding: 12px 10px 12px 48px;
  pointer-events: none;
  font-size: 1em;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.5);
}
.auth_container .auth_form .auth_inputBox input:valid + label span,
.auth_container .auth_form .auth_inputBox input:focus + label span {
  color: #00dfc4;
  border: 1px solid #00dfc4;
  background: #223243;
  transform: translateX(25px) translateY(-7px);
  font-size: 0.6em;
  padding: 0 8px;
  border-radius: 10px;
  letter-spacing: 0.1em;
}
.auth_container .auth_form .auth_inputBox input:valid + label span,
.auth_container .auth_form .auth_inputBox input:focus + label span {
  border: 1px solid #00dfc4;
}
.auth_container .auth_form .auth_inputBox i {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 25px;
  padding: 2px 0;
  padding-right: 8px;
  color: #00dfc4;
  border-right: 1px solid #00dfc4;
}
.auth_container .auth_form .auth_inputBox input[type="submit"] {
  background: #00dfc4;
  color: #223243;
  padding: 10px 0;
  font-weight: 500;
  cursor: pointer;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.auth_container .auth_form p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.75em;
  font-weight: 300;
}
.auth_container .auth_form p a {
  font-weight: 500;
  color: #fff;
}

.auth_error {
  color: red;
  font-size: 0.75em;
  font-weight: 300;
  margin-top: -25px;
}
