/* Main Content */
.container {
  display: flex;
  justify-content: space-between;
}
.portal {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0px 0;
  margin-left: 20px;
  z-index: 0;
  position: relative;
  max-width: calc(100% - 305px);
  padding: 30px;
  padding-left: 25px;
  padding-right: 0px;
}

.ad-column {
  padding-top: 10px;
  flex: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}
