/* Main Content */
.main-content {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px 0px 0;
  margin-left: 20px;
  z-index: 0;
  position: relative;
}

.ad-column {
  padding-top: 10px;
  flex: 1;
  justify-content: flex-start;
}

/* Lista de Anuncios */
#ad-list {
  display: grid;
  align-items: center;
  list-style: none;
  padding: 0;
  /* Añadido para alinear los elementos al centro */
}
