.nav {
  display: flex;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  overflow-y: hidden; /* Evita el desplazamiento vertical */
  white-space: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
  margin-left: 30px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-item {
  position: relative;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: auto; /* Ajusta la altura de los elementos para que se adapte*/
  padding: 10px; /* Aumenta el padding para hacer las tarjetas más grandes */
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  background: #e0e5ec;
  box-shadow: inset 2px 2px 5px #babecc, inset -3px -3px 7px #ffffff;
  flex: 0 0 auto; /* Esto hace que los elementos no se reduzcan y se mantengan a su tamaño original */
  flex-direction: column;
}

li.nav-item {
  margin: 10px;
}

.nav-item span {
  font-size: 2.5rem;
  visibility: visible;
}

.nav-item a {
  position: relative; /* Añade una posición relativa al enlace */
  bottom: initial; /* Elimina la posición inferior */
  left: initial; /* Elimina la posición izquierda */
  opacity: 1; /* Hace que el enlace sea siempre visible */
  visibility: visible; /* Hace que el enlace sea siempre visible */
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: #333; /* Cambia el color del texto */
  font-weight: 600; /* Hace que el texto sea más grueso */
  text-transform: uppercase; /* Cambia el texto a mayúsculas */
  letter-spacing: 1px; /* Aumenta el espaciado entre las letras */
  font-size: 12px; /* Reduce el tamaño de la fuente */
  margin-top: 5px; /* Añade un margen en la parte superior para separar el texto del icono */
}

.nav-item:hover {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff;
}

.nav-item:hover a {
  opacity: 1;
  visibility: visible;
}