/* AdModal.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: all 0.25s ease-in-out;
  align-items: flex-start; /* Alinea el modal al inicio en lugar del centro cuando se desplaza */
  transform: translateY(
    -100px
  ); /* Desplaza el modal hacia abajo para que parezca que se desliza desde arriba */
  margin-top: 55px; /* Agrega un poco de espacio en la parte superior para evitar que el modal toque el borde de la ventana */
  margin-bottom: 50px; /* Agrega un poco de espacio en la parte inferior para evitar que el modal toque el borde de la ventana */
}

.modal.show {
  opacity: 1;
  transform: translateY(0);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 18px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 10);
  overflow: auto; /* Permite el desplazamiento cuando el contenido excede la altura del contenedor */
  max-height: calc(
    100vh - 100px
  ); /* Asegura que el modal no sea más alto que la ventana del navegador, teniendo en cuenta el padding superior e inferior */
}

.modal-title {
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  margin: 10px;
  text-decoration: underline;
}
.modal-description {
  white-space: pre-line;
}
.modal-header,
.modal-footer {
  padding: 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.modal-header {
  font-size: 1.5em;
}

.modal-body {
  padding: 0px;
  font-size: 1.2em;
  line-height: 1.3;
  overflow: scroll;
}

.modal-body p {
  margin-bottom: 20px;
  text-align: justify;
}

.modal-body img {
  max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
  display: block; /* Hace que la imagen sea un bloque para evitar espacio blanco alrededor */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

span {
  font-weight: bold;
}

.ad-card__date,
.ad-card__time {
  font-size: 0.8em; /* Cambia esto al tamaño que prefieras */
  line-height: 1;
}

/* AdModal.css */
@media (max-width: 600px) {
  .modal-content {
    padding: 15px;
  }

  .modal-header,
  .modal-footer {
    padding: 0px;
  }

  .modal-header {
    font-size: 1em;
  }

  .modal-body {
    font-size: 1em;
  }
}

.modal.inmuebles {
  background-color: #fff1d6;
}

.modal.empleos {
  background-color: #d3e6ff;
}

.modal.autos {
  background-color: #ffd9d9;
}

.modal.servicios {
  background-color: #daffe5;
}

.modal.otros {
  background-color: #ece7f3;
}
