/* AdModal.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: all 0.25s ease-in-out;
}

.modal.show {
  opacity: 1;
  transform: translateY(0);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 10);
}

.modal-title {
  line-height: 1.2;
  text-align: center;
}
.modal-header,
.modal-footer {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.modal-header {
  font-size: 1.5em;
}

.modal-body {
  padding: 0px;
  font-size: 1.2em;
  line-height: 1.3;
  overflow: scroll;
}

.modal-body p {
  margin-bottom: 20px;
}

span {
  font-weight: bold;
}
.close-button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.close-button:hover,
.close-button:focus {
  color: #ff0000;
  transition: color 0.3s ease-in-out;
}

/* AdModal.css */
@media (max-width: 600px) {
  .modal-content {
    width: 80%;
    padding: 15px;
  }

  .modal-header,
  .modal-footer {
    padding: 10px;
  }

  .modal-header {
    font-size: 1em;
  }

  .modal-body {
    font-size: 1em;
  }

  .close-button {
    right: 10px;
    top: 10px;
    font-size: 1em;
  }
}
