/* AdModal.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: all 0.25s ease-in-out;
  /* Alinea el modal al inicio en lugar del centro cuando se desplaza */
  /* align-items: flex-start;  */
  transform: translateY(
    -100px
  ); /* Desplaza el modal hacia abajo para que parezca que se desliza desde arriba */
  margin-top: 55px; /* Agrega un poco de espacio en la parte superior para evitar que el modal toque el borde de la ventana */
  margin-bottom: 50px; /* Agrega un poco de espacio en la parte inferior para evitar que el modal toque el borde de la ventana */
}

.modal.show {
  opacity: 1;
  transform: translateY(0);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 18px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 10);
  overflow: auto; /* Permite el desplazamiento cuando el contenido excede la altura del contenedor */
  max-height: calc(
    100vh - 100px
  ); /* Asegura que el modal no sea más alto que la ventana del navegador, teniendo en cuenta el padding superior e inferior */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.modal-content::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en Chrome, Safari y Edge */
}

.modal-content.inmuebles {
  background-color: #fff1d6;
}

.modal-content.empleos {
  background-color: #d3e6ff;
}

.modal-content.autos {
  background-color: #ffd9d9;
}

.modal-content.servicios {
  background-color: #daffe5;
}

.modal-content.otros {
  background-color: #ece7f3;
}

.modal-title {
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  margin: 10px;
  text-decoration: underline;
}
.modal-description {
  white-space: pre-line;
}
.modal-header,
.modal-footer {
  padding: 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.modal-header {
  font-size: 1.5em;
}

.modal-header-right button {
  font-size: 0.9em;
  border: none;
  background: none;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.modal-header-right button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.modal-header-right button:active {
  background: rgba(0, 0, 0, 0.2);
}

.modal-header-right .faBookmark {
  color: green;
}

.modal-header-right .faShareSquare {
  color: yellow;
}

.modal-header-right .faFlag {
  color: red;
}

.modal-body {
  padding: 0px;
  font-size: 1.2em;
  line-height: 1.3;
  overflow: scroll;
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.modal-body p {
  margin-bottom: 20px;
  text-align: justify;
}

.modal-body img {
  max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
  display: block; /* Hace que la imagen sea un bloque para evitar espacio blanco alrededor */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

span {
  font-weight: bold;
}

.ad-card__date,
.ad-card__time {
  font-size: 0.8em; /* Cambia esto al tamaño que prefieras */
  line-height: 1;
}

/* AdModal.css */
@media (max-width: 600px) {
  .modal-content {
    padding: 15px;
  }

  .modal-header,
  .modal-footer {
    padding: 0px;
  }

  .modal-header {
    font-size: 1em;
  }

  .modal-body {
    font-size: 1em;
  }
}

.modal.inmuebles {
  background-color: #fff1d6;
}

.modal.empleos {
  background-color: #d3e6ff;
}

.modal.autos {
  background-color: #ffd9d9;
}

.modal.servicios {
  background-color: #daffe5;
}

.modal.otros {
  background-color: #ece7f3;
}

/* adModal.css */
<<<<<<< HEAD
/* .modal-content.transition-right {
=======
.modal-content.transition-right {
>>>>>>> c66ce461a26fc258ef746ea56d33a6a594b29226
  animation: slideRight 0.5s forwards;
}

.modal-content.transition-left {
  animation: slideLeft 0.5s forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
<<<<<<< HEAD
} */
=======
}
>>>>>>> c66ce461a26fc258ef746ea56d33a6a594b29226
