.columna-anuncios {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
    width: 100%;
    max-width: 300px; /* Ajusta el ancho según tus necesidades */
    margin: auto;
    background-color: #f7f7f7; /* Fondo similar al de la revista */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Opcional: para darle un efecto elevado */
  }
  
  .anuncio {
    margin-bottom: 6px;
  }
  
  .anuncio h4 {
    font-size: 0.8em;
  }
  .anuncio p {
    font-size: 0.7em;
  }
  
  .anuncio-desc {
    font-size: 0.7em;
  
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .anuncio a {
    font-size: 0.9em;
    color: #000;
    text-decoration: none;
  }
  .separador {
    border-bottom: 1px solid #000; /* Cambia el color según tu preferencia */
    padding: 5px 0; /* Añade un poco de espacio alrededor de la línea */
  }