.adType-container {
  padding-top: 5px;
  }
  
  .scroll-container {
    display: flex;
    flex-wrap: wrap; /* Asegura que los botones se rompan en varias líneas */
    padding: 10px;
    gap: 10px;
    white-space: nowrap; /* Asegura que los botones se mantengan en una línea */
  }
  
  .scroll-container .adType-button {
    display: flex; /* Cambia a inline-flex para mantener la alineación horizontal */
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
    transition: transform 0.3s, box-shadow 0.3s;
    white-space: nowrap;
  }

  .scroll-container .adType-button img {
    margin-right: 2px;
    width: 24px;
    height: 24px;
  }

  .scroll-container::-webkit-scrollbar {
    display: none; /* Ocultar la barra de desplazamiento en navegadores basados en WebKit */
  }

  .scroll-container .adType-button:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
  }
  
  .scroll-container .adType-button:active {
    transform: translateY(2px);
    box-shadow: inset 2px 2px 5px #bebebe, inset -2px -2px 5px #ffffff;
  }
  
  .scroll-container .adType-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
  }
  
  .scroll-container .adType-button.selected-all {
    background-color: #28a745;
    color: #ffffff;
    box-shadow: 4px 4px 8px #19692c, -4px -4px 8px #37d258;
  }
  
  .scroll-container .adType-button.selected-adType {
    background-color: #007bff;
    color: #ffffff;
    box-shadow: 4px 4px 8px #0056b3, -4px -4px 8px #0099ff;
  }
  
  .scroll-container .category-button {
    background-color: #e0e0e0;
    color: #666;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 2px 2px 4px #bebebe, -2px -2px 4px #ffffff;
    transition: transform 0.3s, box-shadow 0.3s;
    white-space: nowrap;
  }
  
  .scroll-container .category-button:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 3px #bebebe, -1px -1px 3px #ffffff;
  }
  
  .scroll-container .category-button:active {
    transform: translateY(2px);
    box-shadow: inset 1px 1px 3px #bebebe, inset -1px -1px 3px #ffffff;
  }
  
  .scroll-container .category-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }
/* Clase genérica para todos los botones */
.adType-button {
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

/* Clase para Empleos */
.adType-button.empleos-selected {
  background-color: #007bff; /* Azul para Empleos */
  color: #ffffff;
}

/* Clase para Inmuebles */
.adType-button.inmuebles-selected {
  background-color: #28a745; /* Verde para Inmuebles */
  color: #ffffff;
}

/* Clase para Vehicles */
.adType-button.vehicles-selected {
  background-color: #ff5722; /* rojo para Vehicles */
  color: #ffffff;
}

/* Clase para Servicios */
.adType-button.servicios-selected {
  background-color: #ffc107; /* Amarillo para Servicios */
  color: #ffffff;
}

/* Clase para Productos */
.adType-button.productos-selected {
  background-color: #ff9800; /* qué color sería para Productos? */
  color: #ffffff;
}

/* Clase para Otros */
.adType-button.otros-selected {
  background-color: #9c27b0; /* Morado para Otros */
  color: #ffffff;
}

/* Clase para Negocios */
.adType-button.negocios-selected {
  background-color: #343a40; /* Gris oscuro para Negocios */
  color: #ffffff;
}

/* Clases adicionales para hover, active y focus */
.scroll-container .adType-button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
}

.scroll-container .adType-button:active {
  transform: translateY(2px);
  box-shadow: inset 2px 2px 5px #bebebe, inset -2px -2px 5px #ffffff;
}

.scroll-container .adType-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
}


/* Ajustes adicionales para media queries */

  @media (max-width: 768px) {
    .scroll-container {
      flex-wrap: nowrap;
      max-width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
      overflow-x: scroll; /* Habilitar el scroll horizontal */
    }    
  }

  /* Estilos específicos para pantallas más grandes */
  @media (min-width: 769px) {
    .scroll-container {
      max-width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    }
    
  }
