.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5 0px;

  /* 
      padding: 0 10px;
      max-width: 240px;
      */
}

#search-input {
  padding: 5px;
  font-size: 1%;
  width: 100%;
}
