/* SearchBar.css */

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 63%; /* Reduce el ancho para darle más prominencia */
  max-width: 600px; /* Limita el ancho máximo para mantener la legibilidad en pantallas grandes */
  margin: 0 auto; /* Centra la barra de búsqueda */
  height: 50px; /* Aumenta la altura para hacerla más prominente */
  border-radius: 25px; /* Asegura que la barra de búsqueda siga siendo redonda después de aumentar la altura */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2), 0 10px 20px rgba(0, 0, 0, 0.1); /* Añade una sombra para darle más profundidad */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Añade una transición al transform */
  margin-top: 0px;
}

.search-bar:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.4), 0 10px 30px rgba(0, 0, 0, 0.2); /* Aumenta la sombra cuando se pasa el cursor sobre la barra de búsqueda */
  transform: scale(
    1.05
  ); /* Aumenta ligeramente el tamaño de la barra de búsqueda cuando se pasa el cursor sobre ella */
}

#search-bar {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  bottom: 0;
  color: #ccc;
  display: flex;
  font-size: 18px; /* Aumenta el tamaño de la fuente para hacerla más legible */
  margin: 5px 5px;
  padding: 5px 20px; /* Aumenta el padding para darle más espacio al texto */
  position: relative;
  padding: 5px !important;
  width: 100%;
  z-index: 1;
}
.search-label.searchbar-label {
  left: 20%; /* Ajusta la posición para que coincida con el nuevo padding */
  color: #ccc;
}

.search-icon,
.microphone-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: #ccc; /* Añade un color al ícono */
  font-size: 20px; /* Aumenta el tamaño del ícono */
  cursor: pointer;
  transition: transform 0.3s ease; /* Añade una transición al tamaño del ícono */
}

.search-icon {
  right: 20px; /* Ajusta la posición para que coincida con el nuevo padding */
}

.microphone-icon {
  right: 50px; /* Ajusta la posición para que coincida con el nuevo padding */
}

.search-icon:hover {
  transform: translateY(-50%) scale(1.2); /* Aumenta el tamaño del ícono cuando se pasa el cursor sobre él */
}

.microphone-icon {
  right: 50px; /* Ajusta la posición del ícono del micrófono */
}

.microphone-icon:hover {
  transform: translateY(-50%) scale(1.2); /* Aumenta el tamaño del ícono del micrófono cuando se pasa el cursor sobre él */
}

.search-input:valid + .search-label,
.search-input:focus + .search-label {
  font-size: 14px;
  top: 10%;
  color: #ccc;
}
@media (max-width: 600px) {
  .search-icon,
  .microphone-icon {
    display: none;
  }
  #search-bar {
    font-size: 16px;
  }
}