.sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  width: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  transition: width 0.2s ease;
  padding-bottom: 0px;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar:hover {
  width: 220px;
  z-index: 1;
}

.adType-list {
  list-style: none;
  margin-top: 5px;
  padding: 0 0px;
}
.adType-list::-webkit-scrollbar {
  display: none;
}

ul {
  padding-inline-start: 0;
}

.adType-list li {
  display: flex;
  border-radius: 12px;
  align-items: center;
}

.adType-list li:hover {
  cursor: pointer;
  background: #fff;
}

.adType-list h4 {
  color: #222;
  font-weight: 500;
  display: none;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.2;
}

.sidebar:hover .adType-list h4 {
  display: block;
}

.sidebar:hover .adType-list hr {
  border-color: transparent;
}

.adType-list li span {
  padding: 6px 4px;
}

.adType-list li a {
  padding: 10px;
  color: #000;
  display: none;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  line-height: 0.6;
}

.sidebar:hover .adType-list li a {
  display: block;
}

.adType-list .logout-link {
  margin-top: 20px;
}

.sidebar:hover .search-bar {
  opacity: 1;
  height: auto;
  padding: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}