/* UserMenu.css */

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
}

.header-right .menu-item {
  color: white;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  position: relative;
  cursor: pointer;
}

.header-right .menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ff6347; /* Cambia el color del texto cuando el usuario pasa el ratón por encima */
}

.header-right .menu-item span {
  font-size: 1rem;
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%; /* Posiciona el tooltip debajo del ícono */
  left: 50%;
  transform: translateX(-50%); /* Centra el tooltip */
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.header-right .menu-item:hover span {
  visibility: visible;
  opacity: 1;
}

.menu-options {
  display: none;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  transition: opacity 0.3s ease; /* Añade una transición a la aparición del menú */
  opacity: 0; /* Hace que el menú aparezca gradualmente */
}

.menu-options div {
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
}

.menu-options div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-options span {
  margin-left: 5px;
}

.menu-item:hover .menu-options {
  display: flex;
  opacity: 1; /* Hace que el menú aparezca gradualmente */
}
