:root {
  --button-call-color: #28a745;
  --button-whatsapp-color: #25D366;
  --button-background: #fff;
  --button-shadow-color: rgba(0, 0, 0, 0.15);
  --button-hover-shadow-color: rgba(0, 0, 0, 0.25);
  --button-text-color: #fff;
  --button-border-radius: 12px;
  --button-font-size: 1rem;
}

.contact-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}

.contact-button-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.contact-button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  color: var(--button-text-color);
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  text-decoration: none;
  box-shadow: 0px 2px 5px var(--button-shadow-color);
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 10px;
  flex: 0 0 auto; /* Ajusta el tamaño del botón al contenido */
}

.contact-button svg {
  margin-right: 8px;
}

.contact-button--call {
  background-color: var(--button-call-color);
  padding: 10px 20px; /* Ajuste para el botón de llamada */
}

.contact-button--whatsapp {
  background-color: var(--button-whatsapp-color);
  padding: 10px 25px; /* Ajuste para el botón de WhatsApp */
}

.contact-button:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 15px var(--button-hover-shadow-color);
}

.contact-button--whatsapp:hover {
  background-color: #20c354;
}

.contact-button--call:hover {
  background-color: #218838;
}

.admin-button {
  background-color: #007bff;
  color: #fff;
  border-radius: var(--button-border-radius);
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.admin-button:hover {
  background-color: #0056b3;
  transform: translateY(-4px);
}

@media (max-width: 600px) {
  .contact-button {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
}
