:root {
  --button-call-color: #28a745;
  --button-whatsapp-color: #25D366;
  --button-share-color: #007bff;
  --button-text-color: #fff;
  --button-border-radius: 12px;
  --button-font-size: 1rem;
  --button-shadow-color: rgba(0, 0, 0, 0.15);
  --button-hover-shadow-color: rgba(0, 0, 0, 0.25);
}

.contact-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  border-top: none;
}

.contact-button-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.contact-button-wrapper {
  display: flex;
  align-items: center;
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  color: var(--button-text-color);
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  text-decoration: none;
  box-shadow: 0px 2px 5px var(--button-shadow-color);
  transition: background-color 0.3s, transform 0.3s;
  margin: 0 5px;
}

.contact-button.small-icon {
  padding: 8px 10px;
  font-size: 1.2rem;
}

.contact-button svg {
  margin-right: 8px;
}

.contact-button--call {
  background-color: var(--button-call-color);
}

.contact-button--whatsapp {
  font-size: 1.2rem;
  background-color: var(--button-whatsapp-color);
}

.contact-button--share {
  background-color: var(--button-share-color);
}

.contact-button:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 15px var(--button-hover-shadow-color);
}

.contact-button--call:hover {
  background-color: #218838;
}

.contact-button--whatsapp:hover {
  background-color: #20c354;
}

.contact-button--share:hover {
  background-color: #0056b3;
}

/* Ocultar texto y cambiar el label de "Llamar" a "1" en pantallas pequeñas */
@media (max-width: 600px) {
  .contact-button {
    font-size: 0.9rem;
    padding: 8px 10px;
  }

  .contact-button-group {
    justify-content: center; /* Centrar los botones */
  }

  .contact-button--call .button-label {
    display: inline-block;
    font-size: 1rem;
  }

  /* El botón "Llamar" se vuelve "1" en móviles */
  .contact-button--call .button-label {
    content: "1";
    display: inline-block;
  }

  .contact-button--whatsapp .button-label {
    content: "1";
    display: inline-block;
  }

  /* Ocultar el texto de "Compartir" en pantallas pequeñas */
  .contact-button--share .button-label {
    display: none;
  }
}
