/* Estilos generales del formulario */
form {
  margin: 0;
  box-sizing: border-box;
}
.form-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añade una sombra para darle más profundidad y un efecto de relieve */
  max-width: 30vh;
  max-height: 100%;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  scrollbar-width: none;
  box-sizing: content-box;
}
.form-container::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Edge */
}
button.form-close-button {
  display: none;
}
.form-container input,
.form-container button {
  width: 100%; /* Asegúrate de que los elementos hijos no sean más anchos que su contenedor */
  box-sizing: border-box; /* Incluye el padding y el border en el ancho total del elemento */
}
/* Estilos para los elementos de entrada del formulario */

.form-container fieldset {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.adForm legend {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 0px;
  text-align: center;
}
.adForm label {
  color: #333;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.adForm select#adType {
  width: 80%; /* Reduce el ancho para darle más prominencia */
  margin: 0 auto; /* Centra el selector de adTypes */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añade una sombra para darle más profundidad y un efecto de relieve */
  color: #000; /* Cambia el color del texto para un contraste mejorado */
  padding: 10px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.adForm select#adType:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Aumenta la sombra cuando se pasa el cursor sobre el selector de adTypes para dar un efecto de relieve */
  transform: scale(1.05);
}

.adForm input[type="text"],
.adForm .adForm textarea,
.adForm .adForm input[type="tel"],
.adForm .adForm input[type="email"],
.adForm .adForm input[type="number"],
.adForm .adForm input[type="url"] {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  background: #e0e5ec;
  box-shadow: inset 2px 2px 5px #babecc, inset -3px -3px 7px #ffffff;
  transition: all 0.3s ease-in-out;
}

.adForm input[type="text"]:focus,
.adForm textarea:focus,
.adForm input[type="tel"]:focus,
.adForm input[type="email"]:focus,
.adForm input[type="number"]:focus,
.adForm input[type="url"]:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff;
}

.adForm input[type="text"]::placeholder,
textarea::placeholder {
  color: #aaa;
}
.file-input {
  width: 100%;
}
.preview-image {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.custom-file-upload-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e0e5ec;
  color: #333;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 5px #babecc, -3px -3px 7px #ffffff;
}

.adForm button:hover,
.custom-file-upload-button:hover {
  background-color: #d1d9e6;
}
.custom-file-upload-button:hover {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #ffffff;
}

.adForm input:hover,
.adForm textarea:hover,
.adForm input:focus,
.adForm textarea:focus {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.4), 0 10px 30px rgba(0, 0, 0, 0.2); /* Aumenta la sombra cuando se pasa el cursor sobre la barra de búsqueda */
  transform: scale(1.1);
}

.columna-anuncios {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px; /* Ajusta el ancho según tus necesidades */
  margin: auto;
  background-color: #f7f7f7; /* Fondo similar al de la revista */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Opcional: para darle un efecto elevado */
}

.anuncio {
  margin-bottom: 6px;
}

.anuncio h4 {
  font-size: 0.8em;
}

.anuncio p {
  font-size: 0.7em;
}
.anuncio a {
  font-size: 0.9em;
}
.separador {
  border-bottom: 1px solid #000; /* Cambia el color según tu preferencia */
  padding: 5px 0; /* Añade un poco de espacio alrededor de la línea */
}