
/* Bottom Navigation */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    padding: 0px 0; /* Reducción del padding para disminuir la altura */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.bottom-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    width: 50px; /* Reducción del ancho */
    height: 50px; /* Reducción de la altura */
    border: none;
    background: none;
    transition: transform 0.2s, background-color 0.3s;
    border-radius: 10px;
    margin: 0 5px; /* Reducción del margen para disminuir el espacio horizontal */
}

.bottom-nav-item:hover {
    transform: scale(1.1);
    background-color: #e0e0e0;
}

.highlight {
    background-color: #4CAF50;
    color: white;
    width: 60px; /* Reducción del ancho */
    height: 60px; /* Reducción de la altura */
}

.bottom-nav-icon {
    font-size: 24px; /* Reducción del tamaño de los iconos */
}

.bottom-nav-text {
    font-size: 10px; /* Reducción del tamaño del texto */
    margin-top: 2px; /* Ajuste del margen superior */
}

/* Responsive Design */
@media (min-width: 768px) {
    .bottom-nav {
        display: none;
    }
}
