/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-top: 50px;
  }

  .header {
    flex-direction: column;
  }

  .header-title {
    font-size: 1.2rem;
  }

  .nav {
    position: fixed;
    bottom: 0;
    width: 80%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin: 5px 35px;

    padding: 0 10px;
    border-radius: 50px;
  }

  .nav-item {
    padding: 0 0px;
  }
  .wrapper {
    flex-direction: column !important;
    right: 1px !important;
    margin: 0px;
  }

  #ad-list li {
    flex: 1 0 calc(50% - 10px); /* Ajusta este valor según tus necesidades */
    max-width: calc(50% - 10px); /* Ajusta este valor según tus necesidades */
    margin: 5px;
    list-style: none;
  }

  .ad-card {
    flex: 1 0 150px;
    height: 200px !important;
  }

  .ad-card__title {
    font-size: 16px;
  }
  .modal-title {
    font-size: 1.2rem;
  }
  .sidebar {
    overflow: hidden;
    top: 0px;
  }

  .portal {
    margin: 0 !important;
    max-width: initial !important;
    padding: initial !important;
  }

  button.form-close-button {
    display: block;
  }
  .ads-container {
    padding-left: 24px !important;
  }
  .form-container {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
    background-color: rgba(255, 255, 255);
    overflow: auto;
    box-sizing: content-box;
    max-height: 50vh;
    max-width: 35vh;
  }

  label,
  legend {
    color: #000;
  }
  .form-container.show {
    display: flex;
  }
}
