@media screen and (max-width: 768px) {
  .ad-column,
  .form-column {
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }

  .show-form .form-column {
    display: flex;
  }

  .main-content {
    padding-left: 0;
  }
}

/* Agrega estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
  .ad-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .anuncio-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .anuncio-buttons {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
}
