#ad-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0px;
  border-radius: 15px;
  box-shadow: 10px 24px 16px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: 0 auto;
}
.ads-container {
  margin: 10px;
}
@media (max-width: 600px) {
  #ad-list {
    grid-template-columns: repeat(2, 180px); /* Siempre dos columnas de 150px */
    gap: 5px;
  }
}

.ad-size-normal {
  grid-column: span 1;
  grid-row: span 1;
  height: 180px;
}

.ad-size-largo {
  grid-column: span 2;
  grid-row: span 1;
  height: 180px;
}

.ad-size-grande {
  grid-column: span 2;
  grid-row: span 2;
  height: 360px;
}

.ad-size-gigante {
  grid-column: span 2;
  grid-row: span 3;
  height: 540px;
}
